<div ng-controller="BreedController">
  <main class="main" role="main">
    <div class="wrapper">
      <article class="content-article">
        <h1 class="home-header">Top Breeds In America</h1>
      </article>
    </div>
  </main>


  <footer class="footer">
    <div class="wrapper">
      <article class="content-article">
        <div class="breed_list" ng-repeat="dog in breedsList track by $index">
          <a href=""><p class="fade-in" ng-click="checkClick(dog.name)"><strong>{{dog.name}}</p></a>
            <div class="fade-in" ng-show="checkIfSame(dog.name)">
              <img src={{dog.image}}>
              <p><strong>Hypoallergenic: {{dog.hypoallergenic}}</p>
              <p><strong>{{dog.description}}</p>
              <p class="desc"><strong>Average lifespan: {{dog.lifespan}}</p>
            </div>
        </div>
      </article> 
    </div>
  </footer>
</div>